@model Product


<form method="POST" class="col-md-5">
    <div class="form-group">
        <label for="Name">Name</label>
        <input asp-for="Name" name="Name" class="form-control">
    </div>

    <div class="form-group">
        <label for="Price">Price</label>
        <input asp-for="Price" name="Price" class="form-control">
    </div>

    <div class="form-group">
        <label for="Description">Description</label>
        <textarea asp-for="Description" name="Description" class="form-control"></textarea>
    </div>

    <div class="form-group">
        <label for="ImageUrl">ImageUrl</label>
        <input asp-for="ImageUrl" name="ImageUrl" class="form-control">
    </div>

    <div class="form-group">
        <label for="ImageUrl">Category</label>
        <input asp-for="CategoryId" name="CategoryId" class="form-control">
    </div>


    @* <select name="category" id="">
    @foreach (var category in Model)
    {
    <option value="@category.CategoryId">@category.Name</option>
    }
    </select> *@
    <br>
    <br>
    <br>

    <div>
        <button type="submit" class="btn btn-outline-success">Ekle</button>
    </div>
</form>
