@model shopapp.webui.Models.Product

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    @await Html.PartialAsync("_navbar")
    <p>Urun adi: @Model.Name</p>
    <p>Urun fiyat: @Model.Price</p>
    <p>Urun aciklama: @Model.Description</p>
</body>

</html>